@page "/admins"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager navigationManager
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Administradores</PageTitle>

<h1>Administradores</h1>

<input type="text" @bind="filterText" placeholder="Filtrar por nome..." class="form-control mb-3" />

@if (adminList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in filteredAdminList)
            {
                <tr>
                    <td>@admin.Value.ID</td>
                    <td>@admin.Value.Nome</td>
                    <td>@admin.Value.Email</td>
                    <td>
                        @if (admin.Value.ID.ToString() != currentUserId)
                        {
                            <button class="btn btn-danger" @onclick="() => RemoveAdmin(admin.Value.ID.ToString())">
                                Remover
                            </button>
                        }
                        else
                        {
                            <span class="text-muted">Não pode se remover</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Dictionary<string, Administrator> adminList = new();
    private string filterText = string.Empty;
    private string currentUserId = string.Empty;

    [Inject]
    public required LusiumService LusiumService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            currentUserId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value!;
            adminList = await LusiumService.ListaAdministradores();
        }
        else
        {
            navigationManager.NavigateTo("/login");
        }
    }

    private IEnumerable<KeyValuePair<string, Administrator>> filteredAdminList =>
        adminList.Where(admin => string.IsNullOrEmpty(filterText) ||
                                 admin.Value.Nome.Contains(filterText, StringComparison.OrdinalIgnoreCase));

    private async Task RemoveAdmin(string adminId)
    {
            await LusiumService.RemoveUtilizador(adminId.ToString(), "Admin");
            adminList.Remove(adminId);
    }

}