@page "/admins/create"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Criar Administrador</PageTitle>
<style>
    .page {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        background-color: #1e352f;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-title {
        font-weight: bold;
        font-size: 3.5em;
        color:#BEEF9E;
    }

    label {
        color:#BEEF9E;
        padding-left: 5px;
    }

    .form {
        width: 80%;
    }

    .form-entry {
        margin-top: 20px;
    }
    
    .double-form-entry {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .form-control {
        width: 100%;
        border-radius: 0.5em;
    }

    .button-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    button {
        font-size: 1em;
        text-align: center;
        color: #1e352f;
        border: none;
        padding: 0.5em 0px;
        width: 8em;
        background-color: #A6C36F;
        border-radius: 5px;
        transition: transform 0.2s ease-in-out;
        margin-top: 40px;
    }

    button:hover {
        transform: scale(1.1);
    }

    .info-message-wrapper {
        margin-top: 4em;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .failed-message {
        background-color: #ea6565;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }

    .success-message {
        background-color: #A6C36F;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
</style>
<div class="page">
    <div class="content">
        <div class="main-title">Criar Administrador</div>
        <div class="form">
            <div class="form-entry">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="name" @bind="name" />
            </div>
            <div class="form-entry">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" @bind="email" />
            </div>
            <div class="form-entry">
                <label for="password">Palavra-passe</label>
                <input type="password" class="form-control" id="password" @bind="password" />
            </div>
            <div class="form-entry">
                <label for="confirmPassword">Confirmar Palavra-passe</label>
                <input type="password" class="form-control" id="confirmPassword" @bind="confirmPassword" />
            </div>
        </div>
        <div class="button-wrapper">
            <button @onclick="RegisterAdmin">Registar</button>
        </div>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="info-message-wrapper">
                <div class="info-message @(registrationSuccess ? "success-message" : "failed-message")">@message</div>
            </div>
        }
    </div>
</div>

@code {

    private string name = string.Empty;
    private string email = string.Empty;
    private string password = string.Empty;
    private string confirmPassword = string.Empty;
    private string message = string.Empty;
    private bool registrationSuccess = false;

    [Inject]
    public required LusiumService LusiumService { get; set; }

    public async Task RegisterAdmin()
    {
        if (password != confirmPassword)
        {
            message = "As palavras-passe não coincidem.";
            return;
        }

        var valid = await LusiumService.ValidaDadosAdministrador(name, email, password);

        if (valid)
        {
            Administrator administrator = await LusiumService.RegistaAdministrador(name, email, password);
            if (administrator != null)
            {
                message = $"Administrador registado com sucesso.";
                registrationSuccess = true;
            }
            else
            {
                message = "Não foi possível registar o administrador.";
            }
        }
        else
        {
            message = "Dados inválidos. Não foi possível registar.";
        }
    }
}
