@page "/admins/register"

<PageTitle>Registar Administrador</PageTitle>

<h1>Registar Administrador</h1>

<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" @bind="nome" />
    <input type="text" class="form-control" id="email" @bind="email" />
    <input type="text" class="form-control" id="password" @bind="password" />
</div>

<button @onclick="RegisterAdmin">Registar</button>

@code {

    private string nome = string.Empty;
    private string email = string.Empty;
    private string password = string.Empty;

    [Inject]
    public required LusiumService LusiumService { get; set; }

    public void RegisterAdmin()
    {
        var valid = await LusiumService.ValidaDadosAdministrador(nome, email, password);

        if (valid)
        {
            LusiumService.RegistaAdministrador(nome, email, password);
        }
    }
}
