@page "/register/institution"
@rendermode InteractiveServer

<PageTitle>Registar Instituição</PageTitle>
<style>
    .page {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        background-color: #1e352f;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-title {
        font-weight: bold;
        font-size: 3.5em;
        color:#BEEF9E;
    }

    label {
        color:#BEEF9E;
        padding-left: 5px;
    }

    .form {
        width: 80%;
    }

    .form-entry {
        margin-top: 20px;
    }
    
    .double-form-entry {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .form-control {
        width: 100%;
        border-radius: 0.5em;
    }

    .button-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    button {
        font-size: 1em;
        text-align: center;
        color: #1e352f;
        border: none;
        padding: 0.5em 0px;
        width: 8em;
        background-color: #A6C36F;
        border-radius: 5px;
        transition: transform 0.2s ease-in-out;
        margin-top: 40px;
    }

    button:hover {
        transform: scale(1.1);
    }
    
    .info-message-wrapper {
        margin-top: 4em;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .info-message {
        background-color: #ea6565;
        padding: 10px;
        border-radius: 5px;
        color: white;
    }
</style>
<div class="page">
    <div class="content">
        <div class="main-title">Registar Instituição</div>
        <div class="form">
            <div class="form-entry">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="name" @bind="name" />
            </div>
            <div class="form-entry">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" @bind="email" />
            </div>
            <div class="double-form-entry">
                <div class="form-entry">
                    <label for="email">NIF</label>
                    <input type="text" class="form-control" id="nif" @bind="nif" />
                </div>
                <div class="form-entry">
                    <label for="email">Nº de Associação</label>
                    <input type="text" class="form-control" id="numInst" @bind="numInst" />
                </div> 
            </div>
            <div class="form-entry">
                <label for="email">Morada</label>
                <input type="text" class="form-control" id="address" @bind="address" />
            </div>
            <div class="form-entry">
                <label for="password">Palavra-passe</label>
                <input type="text" class="form-control" id="password" @bind="password" />
            </div>
            <div class="form-entry">
                <label for="confirmPassword">Confirmar Palavra-passe</label>
                <input type="password" class="form-control" id="confirmPassword" @bind="confirmPassword" />
            </div>
        </div>
        <div class="button-wrapper">
            <button @onclick="RegisterInstitution">Registar</button>
        </div>
        @if (!string.IsNullOrEmpty(message))
        {
            <div class="info-message-wrapper">
                <div class="info-message">@message</div>
            </div>
        }
    </div>
</div>

@code {
    private string name = string.Empty;
        private string email = string.Empty;
        private string nif = string.Empty;
        private string numInst = string.Empty;
        private string address = string.Empty;
        private string password = string.Empty;
        private string confirmPassword = string.Empty;
    
        private string message = string.Empty;
    
        [Inject]
        public required LusiumService LusiumService { get; set; }
    
        public async Task RegisterInstitution()
        {

            if (password != confirmPassword)
            {
                message = "As palavras-passe não coincidem.";
                return;
            }

            var valid = await LusiumService.ValidaDadosInstituicao(name, nif, numInst, email, address, password);
    
            if (valid)
            {
                Instituition institution = await LusiumService.RegistaInstituicao(name, nif, numInst, email, address, password);
                if (institution != null)
                {
                    message = $"Instituição registada com os campos: Nome - {institution.Nome}, Email - {institution.Email}, Nif - {institution.NIF}, Número de Associação - {institution.NumeroAssociacao}, Morada - {institution.Morada}.";
                }
                else
                {
                    message = "Não foi possível registar a instituição.";
                }
            }
            else
            {
                message = "Dados inválidos. Não foi possível registar.";
            }
        }
}