@page "/register/institution"
@rendermode InteractiveServer

<PageTitle>Registar Instituição</PageTitle>

<h1>Registar Instituição</h1>

<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="name" @bind="name" />
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" @bind="email" />
    <label for="email">Nif</label>
    <input type="text" class="form-control" id="nif" @bind="nif" />
    <label for="email">Número de Associação</label>
    <input type="text" class="form-control" id="numInst" @bind="numInst" />
    <label for="email">Morada</label>
    <input type="text" class="form-control" id="address" @bind="address" />
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" @bind="password" />
</div>

<button @onclick="RegisterInstitution">Registar</button>

<p>@message</p>

@code {
    private string name = string.Empty;
        private string email = string.Empty;
        private string nif = string.Empty;
        private string numInst = string.Empty;
        private string address = string.Empty;
        private string password = string.Empty;
    
        private string message = string.Empty;
    
        [Inject]
        public required LusiumService LusiumService { get; set; }
    
        public async Task RegisterInstitution()
        {

            Console.WriteLine(nif.Length);

            var valid = await LusiumService.ValidaDadosInstituicao(name, nif, numInst, email, address, password);
    
            if (valid)
            {
            Instituition institution = await LusiumService.RegistaInstituicao(name, nif, numInst, email, address, password);
                if (institution != null)
                {
                    message = $"Instituição registada com os campos: Nome - {institution.Nome}, Email - {institution.Email}, Nif - {institution.NIF}, Número de Associação - {institution.NumeroAssociacao}, Morada - {institution.Morada}.";
                }
                else
                {
                    message = "Não foi possível registar a instituição.";
                }
            }
            else
            {
                message = "Dados inválidos. Não foi possível registar.";
            }
        }
}