@page "/institution/edit/{institutionID:int}"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Services
@using System.Data
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject LusiumService LusiumService
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,Institution")]

<PageTitle>Editar Instituição</PageTitle>

<h1>Editar Instituição</h1>

<div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="name" @bind="pendingName" placeholder="@userName" />

    <label for="morada">Morada</label>
    <input type="text" class="form-control" id="adress" @bind="pendingAdress" placeholder="@userAdress" />

    @if(!isAdmin) 
    {
        <label for="password">Nova Palavra-Passe</label>
        <input type="password" class="form-control" id="password" @bind="password" />

        <label for="confirmPassword">Confirmar Nova Palavra-Passe</label>
        <input type="password" class="form-control" id="confirmPassword" />
    }

    @if (isAdmin)
    {
        <label for="credits">Créditos</label>
        <input type="number" class="form-control" id="credits" @bind="pendingCredits" min="0" placeholder="@institutionCredits" />
    }
</div>

<button @onclick="ShowPasswordModal">Alterar Dados</button>

<p>@message</p>

@if (isModalOpen)
{
    <div class="modal show" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirme a Palavra-Passe Atual</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <label for="currentPassword">Palavra-Passe Atual</label>
                    <input type="password" class="form-control" id="currentPassword" @bind="currentPassword" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick="CloseModal">Cancelar</button>
                    <button class="btn btn-primary" @onclick="ConfirmEdit">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}

@code {
    [Parameter]
    public int institutionID { get; set; }

    private string userID { get; set; } = string.Empty;
    private string userName { get; set; } = string.Empty;
    private string userAdress { get; set; } = string.Empty;
    private string userEmail { get; set; } = string.Empty;
    private int institutionCredits { get; set; } = 0;
    private bool isAdmin { get; set; } = false;

    private string pendingName { get; set; } = string.Empty;
    private string pendingAdress { get; set; } = string.Empty;
    private string password { get; set; } = string.Empty;
    private string confirmPassword { get; set; } = string.Empty;
    private string currentPassword { get; set; } = string.Empty;
    private int pendingCredits { get; set; } = 0;
    private string message { get; set; } = string.Empty;

    private bool isModalOpen { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        Instituition result;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            userID = user.FindFirst(ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
            isAdmin = user.IsInRole("Admin");

            result = await LusiumService.ObterInstituicao(userID)!;

            if (result != null)
            {
                userName = result.Nome;
                userEmail = result.Email;
                userAdress = result.Morada;
                institutionCredits = result.Creditos;
            }
        }
        else
        {
            navigationManager.NavigateTo("/login");
        }
    }

    private void ShowPasswordModal()
    {
        isModalOpen = true;
    }

    private void CloseModal()
    {
        isModalOpen = false;
        currentPassword = string.Empty;
    }

    private async Task ConfirmEdit()
    {
        var confirmation = await LusiumService.ValidaPP(userEmail, currentPassword);

        if (confirmation)
        {
            await EditInstitution();
            CloseModal();
        }
        else
        {
            message = "Palavra-passe atual inválida.";
            CloseModal();
        }
    }

    private async Task EditInstitution()
    {
        if (password != confirmPassword)
        {
            message = "As palavras-passe não coincidem.";
            CloseModal();
            return;
        }

        string tempPass = string.IsNullOrEmpty(password) ? currentPassword : password;
        string tempName = string.IsNullOrEmpty(pendingName) ? userName : pendingName;
        string tempAdress = string.IsNullOrEmpty(pendingAdress) ? userAdress : pendingAdress;
        int tempCredits = isAdmin && pendingCredits >= 0 ? pendingCredits : institutionCredits;

        var valid = await LusiumService.ValidaNovosDadosInstituicao(institutionID.ToString(), tempName, tempAdress, tempPass, tempCredits);

        if (valid)
        {
            await LusiumService.AtualizaDadosInstituicao(institutionID.ToString(), tempName, tempAdress, tempPass, tempCredits);
            message = "Instituição editada com sucesso, as alterações serão refletidas no próximo início de sessão.";
        }
        else
        {
            message = "Dados inválidos. Não foi possível editar.";
        }
    }
}
