@page "/manuals/{manualId:int}"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@using Microsoft.Data.SqlClient;
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin, Collaborator, Institution")]

<PageTitle>Manual</PageTitle>
<style>
    .page {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        background-color: #1e352f;
    }

    .content {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .manual-wrapper {
        position: relative;
    }

    img {
        width: 100%;
        height: auto;
        background-color: blue;
    }

    .control-wrapper {
        position: absolute;
        bottom: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .pagination-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin-bottom: 0.4em;
    }

    .right-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .page-info {
        font-weight: bold;
        font-size: 1.4em;
        color: #A6C36F;
        margin-right: 1em;
    }

    .button {
        background-color: transparent;
        border: none;
    }

    .button:hover:enabled {
        transform: scale(1.1);
    }
    
    .button:disabled {
        cursor: default;
    }

    .button:enabled svg {
        fill: #A6C36F;
    }

    .button:disabled svg {
        fill: #949597;
    }
    
</style>
<div class="page">
    <div class="content">
        @if (manual == null || paginas == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="manual-wrapper">
                <img src="@paginaAtualImagem" alt="Imagem da Página" width="1000" height="400" />
                <div class="control-wrapper">
                    <div class="pagination-control">
                        <button class="button" @onclick="PaginaAnterior" disabled="@(!PodeVoltar)">
                            <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.939341 10.9393C0.353554 11.5251 0.353554 12.4749 0.939341 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807611 11.0711 0.807611 10.4853 1.3934L0.939341 10.9393ZM27 10.5L2 10.5V13.5L27 13.5V10.5Z"/></svg>
                        </button>
                        <div class="right-info">
                            <div class="page-info">@paginaAtual/@paginas.Count</div>
                            <button class="button" @onclick="ProximaPagina" disabled="@(!PodeAvancar)">
                                <svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.0607 13.0607C26.6464 12.4749 26.6464 11.5251 26.0607 10.9393L16.5147 1.3934C15.9289 0.807611 14.9792 0.807611 14.3934 1.3934C13.8076 1.97919 13.8076 2.92893 14.3934 3.51472L22.8787 12L14.3934 20.4853C13.8076 21.0711 13.8076 22.0208 14.3934 22.6066C14.9792 23.1924 15.9289 23.1924 16.5147 22.6066L26.0607 13.0607ZM0 13.5L25 13.5V10.5L0 10.5L0 13.5Z"/></svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public int ManualId { get; set; }

    [Inject]
    public required LusiumService LusiumService { get; set; }

    private Manual? manual;
    private List<Page>? paginas;
    private int paginaAtual = 1;

    private string? paginaAtualImagem => paginas.Any() ? paginas[paginaAtual - 1].ImagemAlusiva : null;
    private bool PodeVoltar => paginaAtual > 1;
    private bool PodeAvancar => paginaAtual < paginas.Count;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine($"OnInitializedAsync chamado: ManualId = {ManualId}");

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity?.IsAuthenticated ?? false)
        {
            NavigationManager.NavigateTo("/login");
            return;
        }

        manual = await GetManual(ManualId);
        paginas = manual.Paginas.ToList();

        if (!paginas.Any() || paginas == null)
        {
            NavigationManager.NavigateTo("/manuals");
        }
    }

    private void PaginaAnterior()
    {
        if (PodeVoltar)
        {
            paginaAtual--;
        }
    }

    private void ProximaPagina()
    {
        if (PodeAvancar)
        {
            paginaAtual++;
        }
    }

    // Not supposed to be this way
    public async Task<Manual> GetManual(int id)
    {
        string ConnectionString = "Server=tcp:sqldatabaselusium.database.windows.net,1433;Initial Catalog=LusiumDB;Persist Security Info=False;User ID=lusium;Password=Belo=2025;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;";

        string sql = @"
            SELECT m.ID, m.Capa, m.Nome, m.Descricao, p.ID AS PaginaID, p.ImagemAlusiva, p.Numeracao
            FROM Manual m
            LEFT JOIN Pagina p ON m.ID = p.ManualAssociado
            WHERE m.ID = @ID;";

        try
        {
            using (var connection = new SqlConnection(ConnectionString))
            {
                await connection.OpenAsync();

                using (var command = new SqlCommand(sql, connection))
                {
                    command.Parameters.AddWithValue("@ID", id);

                    using (var reader = await command.ExecuteReaderAsync())
                    {
                        if (await reader.ReadAsync())
                        {
                            var manual = new Manual
                                {
                                    ID = reader.GetInt32(reader.GetOrdinal("ID")),
                                    Capa = reader.GetString(reader.GetOrdinal("Capa")),
                                    Nome = reader.GetString(reader.GetOrdinal("Nome")),
                                    Descricao = reader.GetString(reader.GetOrdinal("Descricao")),
                                    Paginas = new List<Page>()
                                };

                            do
                            {
                                if (!reader.IsDBNull(reader.GetOrdinal("PaginaID")))
                                {
                                    var pagina = new Page
                                        {
                                            ID = reader.GetInt32(reader.GetOrdinal("PaginaID")),
                                            ImagemAlusiva = reader.GetString(reader.GetOrdinal("ImagemAlusiva")),
                                            Numeracao = reader.GetInt32(reader.GetOrdinal("Numeracao")),
                                            ManualAssociado = manual.ID
                                        };
                                    manual.Paginas.Add(pagina);
                                }
                            } while (await reader.ReadAsync());

                            return manual;
                        }
                        else
                        {
                            return null;
                        }
                    }
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao executar consulta SQL: {ex.Message}");
            throw;
        }
    }
}